<div class="wrapper">
	<mat-sidenav-container (backdropClick)="close('backdrop')">
		<mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
			<nav class="nav">
				<p><button mat-button (click)="close('toggle button')"><mat-icon>close</mat-icon> Close</button></p>
    			<app-navigation></app-navigation>
    		</nav>
  		</mat-sidenav>

  		<mat-sidenav-content>
  			<nav class="nav">
				<mat-grid-list cols="1" rowHeight="80px">
					<mat-grid-tile>
  						<button mat-button (click)="sidenav.open()"><mat-icon>menu</mat-icon> Menu</button>
  					</mat-grid-tile>
  				</mat-grid-list>
	  		</nav>
	  		<article class="main-content">
	  			<router-outlet></router-outlet>
	  		</article>
	  	</mat-sidenav-content>
	</mat-sidenav-container>
</div>